@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.nav-item{
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    
    
}

.nav-link{
    color: #000000!important;
    font-size: 18px;
}

.nav-item:hover {
    background-color: #21B573;
    border-radius: 50px;
    
    
    

} 
.nav-link:hover{
    color: white!important;
}


#red{
    color:#FD511A;
}
#para{
    font-weight: bolder;
    font-size: 3.3rem;
    line-height: 4rem;
}

.para{
    text-align: justify;
}

.container{
    margin-bottom: 2rem;
}

span{
    color: #21B573;
}

.btn{
    border-radius: 30px!important;
    background-color: #21B573!important;
    border: none!i;
}

.banner-image{
    background: #F0FFF0;
    
    background-size: cover;
}

.center{
    line-height: 1rem;
}

.bg-crmm{
    background-color: #F0FFF0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    

}

.cat-1, .cat-3, .cat-2, .cat-4{
    padding: 40px 25px 25px;
    border-radius: 10px;
    text-align: center;
}

.cat-1, .cat-3, .cat-2, .cat-4{
    background-color:#F0FFF0;
    
    
}

.cat-1:hover{
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.cat-2:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;

}

.cat-3:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;

}

.cat-4:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;

}

.banner-image{
    padding-bottom: 1rem;
}

@media (max-width:767px){
    .cat-1,.cat-2,.cat-3,.cat4{
        margin-bottom: 2rem;
    }
}

.card{
    padding: 1rem;
    border: none!important;
    
}

.d{
    text-align: center;
}

@media (max-width:1200px){
    .myimg{
        width: 12rem;
        margin-bottom: 1rem;
    }
}






